# Created by .ignore support plugin (hsz.mobi)
Supprimerait .idea/PSU_2016_lemipc.iml
Supprimerait .idea/misc.xml
Supprimerait .idea/modules.xml
Supprimerait .idea/vcs.xml
Supprimerait .idea/workspace.xml
Supprimerait CMakeLists.txt
Supprimerait cmake-build-debug/
Supprimerait lemipc
Supprimerait srcs/main.o
Supprimerait a.out
